@keyframes showTurn{
	0%{		color: red;}
	49%{	color: transparent;	}
	50%{	color: transparent;	}
	99%{	color:transparent;	}
	100%{	color: red;	}
}

#reset {
  width: 11vw;
  height: 5vh;
  border-radius: 11px;
  position: relative;
  top: 40px;
  right: 33%;
}
.head {
  display: flex;
  justify-content: center;
}
.title {
  position: relative;

}
#start {
  width: 11vw;
  height: 5vh;
  border-radius: 11px;
  position: relative;
  top: 40px;
  left: 30%;
}
/* #game {
  display: none;
} */
.gameBoard {
  width: 100%;
  border: solid black;
  display: flex;
  justify-content: space-between;
  margin-top: 1%;
}
table {
  height: 60vh;
  border: solid green;
  display: flex;
  justify-content: center;
  border: solid red;
}
#score1, #score2 {
  /* border: solid yellow; */
  width: 25%;
  background: yellow;
  display: flex;
}
.scores {
  width: 15vw;
  height: 20vh;
  border: solid brown;
  position: relative;
  top: 30%;
  right: 15%;
  text-align: center;
}


.yourTurn {
  position: relative;
  top: 80%;
  right: 35%;
  animation: showTurn 1.2s infinite;
}
th{
  border: solid orange;
  width: 100vw; 
  height: 5vh;
}
td {
  border: solid purple;
  cursor: pointer;
  height: 12vh;
  text-align: center;
  color: white;
  background-image: url('https://i.pinimg.com/564x/27/ba/3b/27ba3b9be0230eebf226b5a7f19cd0a0.jpg');
  background-size: cover;
}

/* .modal{
  background-color: black;
  /* display: none; */
  /* width: 100%;
  height: 100%;
  z-index: 1;
  position: relative;
  left: 0;
  top: 0;
  padding: 0;
  margin: 0;

} */ 

footer {
  position: relative;
  width: 100%;
  border: solid purple;
  margin-top: 1%;
  
}