/* @media and {
  max-width: 100vh;
  max-height: 100vh;
  overflow-x: hidden;
} */


.head {
  display: flex;
  justify-content: space-between;
}
.title {
  position: relative;
  left: 45%;
}

/* #game {
  display: none;
} */
.gameBoard {
  width: 100%;
  border: solid black;
  display: flex;
  justify-content: space-between;
  margin-top: 1%;
}
table {
  height: 60vh;
  border: solid green;
  display: flex;
  justify-content: center;
}
.score {
  border: solid yellow;
  width: 25%;
}
.gridRow {
  border: solid orange;

}

table {
  border: solid red;
}
th{
  border: solid orange;
}
td {
  border: solid purple;
}

footer {
  position: relative;
  width: 100%;
  border: solid purple;
  margin-top: 1%;
  
}